<div class="sidebar" data-color="purple" data-image="../static/img/sidebar-1.jpg">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="/" class="simple-text">
            CMDATA
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if title=='dashboard' %} class="active" {% endif %}>
                <a href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li {% if title=='tables' %} class="active" {% endif %}>
                <a href="./tables">
                    <i class="material-icons">content_paste</i>
                    <p>表单</p>
                </a>
            </li>
            <li {% if title=='export' %} class="active" {% endif %}>
                <a href="./export">
                    <i class="material-icons">content_paste</i>
                    <p>导出数据</p>
                </a>
            </li>
        </ul>
    </div>
</div>
